* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4CAF50;
}

p {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.emotion-select button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.emotion-select button:hover {
    background-color: #45a049;
}

#dynamicCanvas {
    margin-top: 20px;
    border: 2px solid #4CAF50;
    width: 400px;
    height: 400px;
    display: block;
    background-color: #fff0f5;
}

.audio-controls button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.audio-controls button:hover {
    background-color: #007bb5;
}
